html {
  background: url(../img/background_picture.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

body {
  position: relative;
  margin: 0;
  color: white;
  font-size: small;
  font-family: "Manrope", sans-serif;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}

header {
  display: flex;
  align-items: center;
  background-color: black;
  text-align: center;
  font-size: 18pt;
  border: thin solid yellow;
  text-shadow: 0 0 0.3rem yellow;
  margin-right: auto;
  height: 80px;
}

header #starWarsLogo {
  float: left;
  width: 10%;
  height: 100%;
  margin-right: 300px;
}

h1 {
  text-shadow: 0 0 0.1rem yellow;
  font-size: 200%;
  font-weight: bold;
}

.container {
  display: flex;
  justify-content: space-around;
  max-height: 904px;
}

.bloc {
  background-color: rgba(0, 0, 0, 0.4);
  width: 400px;
  height: 450px;
  max-width: 500px;
  max-height: 470px;
  line-height: 1.5;
  margin: 20px;
  border-radius: 15px;
  padding: 15px;
}
.title {
  font-size: 190%;
  text-align: center;
}

.films-list {
  list-style-type: none;
  font-size: 130%;
  padding: 5px;
  margin: 0px 0px 0px 30px;
}
table {
  font-size: 110%;
  text-align: center;
  width: 100%;
  padding: 5px;
}

th {
  padding: 5px;
  font-size: 120%;
}

td {
  width: 35%;
}

.center {
  width: 400px;
  height: 450px;
  max-width: 500px;
  max-height: 470px;
  margin: 20px 75px 0px 75px;
}

.choose-episode {
  background-color: rgba(0, 0, 0, 0.4);
  width: 300px;
  height: 140px;
  border-radius: 10px;
  text-align: center;
  padding: 10px;
}

h3.title {
  margin-bottom: 5px;
  text-shadow: 0 0 0.1rem yellow;
}
.select {
  padding: 10px;
  height: 100px;
}

#select-episode {
  border-radius: 8px;
  width: 100px;
  height: 25px;
  margin-left: 5px;
}
#show-information {
  font-size: 130%;
  border-radius: 8px;
  border: none;
  margin: 20px;
  width: 170px;
  height: 50px;
  color: white;
  background-color: rgba(0, 0, 0, 0.9);
  transition: all 300ms ease;
}

#show-information:hover {
  color: black;
  font-weight: bold;
  font-size: 140%;
  background-color: yellow;
  cursor: pointer;
}

.planets {
  margin: 20px;
  padding: 10px;
}

#planets {
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
  font-size: 130%;
  box-shadow: 0px 4px 2px 2px rgba(black, 0.2);
  border-radius: 10px;
  transition: all 300ms ease;
  padding: 1em 1em;
  border: none;
  width: 200px;
  height: 80px;
  margin-left: 30px;
}

#planets:hover {
  color: black;
  font-weight: bold;
  font-size: 140%;
  background-color: yellow;
  cursor: pointer;
}

a:link {
  color: white;
  text-decoration: none;
}

a:visited {
  color: white;
  text-decoration: none;
}

nav ul {
  background-color: black;
  margin: 1px 0px 0px 0px;
  border: thin solid yellow;
  padding: 5px 0px 5px 0px;
}

nav ul li {
  display: inline;
  padding: 5px 10px 5px 10px;
}

ul li a:link,
ul li a:visited {
  color: white;
  border-bottom: none;
  font-weight: bold;
}

ul li.selected {
  background-color: #ff6118;
}
